{% extends "recipes/layout.html" %}
{% load static %}

{% block title %}Advanced Search{% endblock %}

{% block body %}
<div class="container p-4">
    <h1 class="text-center mb-4 text-primary-emphasis">Advanced Search</h1>
    <form method="post" action="{% url 'advanced' %}">
        {% csrf_token %}
        <div class="mb-3" id="ingredient-container">
            <label for="ingredient" class="form-label">Ingredients</label>
            <div id="ingredient-list">
                <select class="form-select" id="ingredient" name="ingredient" multiple size="20">
                    <option value="">Select an ingredient</option>
                    {% for ingredient in ingredients %}
                    <option value="{{ ingredient }}">{{ ingredient }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <h4><strong>Selected Ingredients:</strong></h4>
        <div id="selected-ingredients-container" name="selected-ingredients-container" class="mb-3">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
<script src="{% static 'recipes/advanced.js' %}" type="text/babel"></script>
{% endblock %}