<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe Generator | {% block title %}{% endblock %}</title>

    {% block head %}
    {% endblock %}

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- React and Babel -->
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Recipe Generator</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'random' %}">Random Recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-success-subtle d-flex justify-content-center p-4">
        <form action="{% url 'index' %}" method="get" role="search">
            <input type="text" name="query" class="rounded-pill p-3 text-dark-emphasis bg-body-secondary"
                autocomplete="on" autofocus="on" size="100" placeholder="Search for recipes..." aria-label="Search">
        </form>
        <a href="{% url 'advanced' %}" class="btn btn-outline-primary mx-5 my-auto">Advanced Search</a>
    </div>

    <div class="bg-success d-flex flex-column align-items-center">
        {% block body %}
        {% endblock %}
    </div>

</body>

</html>